input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=box], select, textarea {
    width: 100%;
    height: 125px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.submit {
    background-color: blue;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: cursive;
}

.container {
    border-radius: 5px;
    background-color: black;
    padding: 20px;
    color: white;
    width: 25%;
    margin: auto;
}

.form {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}