body {
    background-image: url("/images/baki.jpg");
    background-size: 1800px 1000px;
    background-position: 30% 30%;
    background-repeat: no-repeat;
    height: 100%;
    font-family: cursive;
}

html {
  scroll-behavior: smooth;
}

/*-------------------------------FOOTER------------------------------*/
footer {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
  }
/*-------------------------------------------------------------------*/

.pic {
    border-radius: 50%;
    width: 150px;
    height: auto;
    border: solid 5px white;
    position: absolute;
    top: 10%;
}

.socials {
  border-radius: 25%;
  width: 30px;
  height: auto;
}

.navbar {
    background-color: black;
    overflow: hidden;
    text-align: center;
    width: 100%;
    font-size: 17px;
    text-transform: uppercase;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: cursive;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.navbar a:active {
    background-color: blue;
    color: white;
}

/*---------------------------BUTTONS----------------------------------*/

/*-------------------------NAV BAR DROP DOWN--------------------------*/

/* Dropdown Button */
.dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: cursive;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: blue;}

  /*----------------------------------------------------------------------------------------------------------*/


