.mainprofile {
    border-radius: 50%;
    width: 200px;
    height: auto;
    border: solid 5px white;
    position: absolute;
    top: 16%;
}

.name {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: white;
    text-transform: uppercase;
}

.intro {
    margin-left: 37%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

video {
    width: 200px;
    position: relative;
    left: 43%;
    border-radius: 10%;
}