body {
    background-image: url("/images/baki.jpg");
    background-size: 1800px 1000px;
    background-position: 30% 30%;
    background-repeat: no-repeat;
}

.navbar {
    background-color: black;
    overflow: hidden;
    text-align: center;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: cursive;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.navbar a:active {
    background-color: blue;
    color: white;
}

.container {
    border-radius: 5px;
    background-color: black;
    padding: 20px;
    color: white;
    width: 25%;
    margin: auto;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=box], select, textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.submit {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



